@import "../../variables.scss";
.menu {
  z-index: 3;
  font-size: clamp(1rem, 4.8vw, 2rem);
  background-color: $lightFont;
  position: fixed;
  left: 100%;
  top: 8vh;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu__item:first-child {
  padding-top: 20px;
}

.menu__item {
  width: 100%;
  color: $darkerMain;
  //padding-bottom: 20px;
  padding: 10px;
}
.menu__item:hover {
  cursor: pointer;
  color: $lightFont;
  background-color: $darkerMain;
}

.menu--open {
  opacity: 1;
  animation: openMenu 0.5s ease 0s 1 normal forwards;
}

.menu--close {
  opacity: 0;
  animation: closeMenu 0.5s ease 0s 1 normal forwards;
}
@keyframes openMenu {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}
@keyframes closeMenu {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
