@import "../../variables.scss";

.about {
  font-size: clamp(1rem, 1.2vw, 2rem);
  background-color: $main;
  color: $darkerMain;
  padding: 3vw;
}

.about--title {
  font-family: $titleFont;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: $accent;
  display: inline;
}
.about--links {
  cursor: pointer;
}
.about--h2 {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.about__skills {
  margin: 1vw;
  display: flex;
  justify-content: space-around;
}

.about--pics {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .about {
    display: flex;
  }

  .about__container {
    width: 50%;
  }
  .about__paragraph--me {
    margin-top: 6vh;
  }
  .about--title {
    margin-bottom: 15px;
    font-size: clamp(1.5rem, 1.9vw, 2.5rem);
  }
  .about--pics {
    width: 50%;
    object-fit: contain;
  }
}
