$navyBlue: #003366;
$coral: #ff6b6b;
$teal: #008080;
$softGray: #c0c0c0;
$white: #ffffff;

$darkerMain: #123c54;
$darkMain: #184e5b;
$accent: #ff6b6b;
$main: #81a5ae;
$lighterMain: #c0c0c0;
$white: #ffffff;
